<div class="card-deck h2 mb-5 py-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title my-1 py-3">パークエリア情報</h5>
      <h5 class="card-text mt-5">USJの各エリア別に情報を掲載しています。</p>
    </div>
    <div class="card-footer">
        <%= link_to 'リンクへ飛ぶ', boards_path(tag_name: 'park'), class: 'navbar-brand mb-0 h1 text-dark' %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title my-1 py-3">アトラクション別の身長</h5>
      <h5 class="card-text mt-5">各アトラクション別の、身長制限をまとめています。お子様の乗れるアトラクションを探すのにお使いください。</p>
    </div>
    <div class="card-footer">
    <%= link_to 'リンクへ飛ぶ', boards_path, class: 'navbar-brand mb-0 h1 text-dark' %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title my-1 py-3">整理券の取得方法</h5>
      <h5 class="card-text mt-5">話題のエリアへは整理券取得が必須です。整理券の取得方法についてまとめました。</p>
    </div>
    <div class="card-footer">
    <%= link_to 'リンクへ飛ぶ', boards_path(tag_name: 'ticket'), class: 'navbar-brand mb-0 h1 text-dark' %>
    </div>
  </div>
</div>