<div class="jumbotron">
  <h1 class="display-4">あなたのUSJライフをもっと快適に。</h1>
  <p class="lead">初めてのUSJをこの先ずっと思い出せるような旅にするお手伝いをします。</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto py-5 text-center">
    <%= link_to new_user_path, class: "btn btn-secondary my-5 p-3", role: 'button' do %>
        ユーザー登録をして始める
    <% end %>
    <%= link_to login_path, class: "btn btn-secondary my-5 p-3", role: 'button' do %>
        ログインの方はこちら
    <% end %>
    <%= link_to main_index_path, class: "btn btn-secondary my-5 p-3", role: 'button' do %>
        登録をせずに始める
    <% end %>
</div>