<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>選択肢作成</h1>
      <h2>・<%= @question.question_text%></h2>
      <%= render 'form', {choice: @choice } %>
    </div>
  </div>
</div