<%= form_with url: admin_questions_url, model:question, local: true do |f| %>
    <div class="form-group">
      <%= f.label :question_text%>
      <%= f.text_field :question_text, class: 'form-control' %>
    </div>

  
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>