<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <!-- ページネーション -->
            <%= paginate @like_boards %>
        </div>
    </div>
    <div class="row">
        <% if @like_boards.present? %>
            <% @like_boards.each do |board| %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to board.title, board_path(board), class: 'navbar-brand mb-0 h1 text-info'  %></h5>
                            <p class="card-text"><%= board.body[0,7]%></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
          <h1 class= "mt-5">まだ何もお気に入りを登録していません...</h1>
          <h2>お気に入りを見つけてみましょう。</h2>

        <% end %>
    </div>
</div>